[Unit]
Description=GitaDaily Server
[Install]
WantedBy=multi-user.target
[Service]
Type=simple
WorkingDirectory=/home/ubuntu/Gita-Daily
ExecStart=python3 app.py
Restart=never
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%